@font-face {
    font-family: "myFont";
    src: url("font/ReadyPlayerOne-rwzx.ttf");
  }

html {
    font-family: "myFont"; 
    font-family: 'Orbitron', sans-serif;
  }

header{
    margin-bottom: 20px;
    font-family: 'Orbitron';
}

button {
    margin: 2px;
}

@keyframes changeBg
{
   0% {background-image: url("images/games1.png");}
   20% {background-image: url("images/games2.png");}
   40% {background-image: url("images/games3.png");}
   60% {background-image: url("images/games4.png");}
   80% {background-image: url("images/games5.png");}
   100% {background-image: url("images/games8.png");}
}
 
body
{
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat; 
    background-size: cover;
    animation: changeBg 90s linear infinite;
    font-family: 'Orbitron';
}

.backgroundSquare {
    background-image: linear-gradient(rgba(214, 214, 214, 0.6), rgba(233, 231, 231, 0.815));
    color: black;
}