button {
    margin: 2px;
}

body {
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat; 
    background-size: cover;
}

/*
@-webkit-keyframes changeBg
{
   0%   {background-image: url("images/3615dc9d-e947-4675-bf25-16e8e4c7d27e.png");}
   25%  {background-image: url("images/38738827415_a14b8bdec5_o.jpg");}
   50%  {background-image: url("images/38738828145_c83c22209a_o.jpg");}
   100% {background-image: url("images/adam-walker-sizzlereel-rpo-00789.jpg");}
}
 
body
{
   -webkit-animation: changeBg 20s infinite;
}
*/

.backgroundSquare {
    background-image: linear-gradient(rgba(170, 168, 168, 0.6), rgba(233, 231, 231, 0.6));
    color: black;
}